* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.container {
  height: auto;
  width: 600px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}
form {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
#todoInput {
  width: 50%;
}

ul {
  list-style-type: none;
  width: 100%;
}
.list-group-item.task {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

li.list-group-item.task.isDone {
  text-decoration: line-through;
  color: gray;
}
